@charset "utf-8";
/* CSS Document */
 
/* CSS DocumentProject:  HR Management app
----------------------------------------------------------------------------------------------------------*/
 
/*------------------Layout,Table of Contents-----------------------------------------------------------------
1. BASIC STYLING FOR COMMON HTML ELEMENTS
2. TYPOS
3. COMMON CSS CLASSES
4. SKELETON
5. HEADER SECTION
6. BODY SECTION
7. FOOTER SECTION
-----------------------------------------------------------------------------------------------------------*/
 
/*................................................
    1. BASIC STYLING FOR COMMON HTML ELEMENTS
.................................................*/
body {
  font-size: 16px;
  background-color: #fff;
  line-height: 32px;
 
}
 
 
:root {
  --black: #000000;
  --darkOrange: #ddac89;
  --lightOrange: #f1d1ba;
  --chocolate: #dc8242;
  --brown: #b63737;
  --grey: #9094b1;
  --blue:  #a8d8e2;
  --cream: #e7e9da;
  --wheat:#f5deb3;
}
 
/*................................................
    2. TYPOS
.................................................*/
 
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
 
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}
 
/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}
 
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/poppins-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/poppins-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
 
/*................................................
    3. COMMON CSS CLASSES
.................................................*/
 
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 15px;
    font-family: Poppins;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
  }
  .first_container{
    flex-wrap: wrap;
    flex-direction: column;
    display: flex;
  }
   
  .flex-box {
    display: flex;
  }
/*................................................
    4. SKELETON
.................................................*/
 
/*................................................
    5. HEADER SECTION
.................................................*/
#header {
  border-bottom: 2px solid var(--brown);
}  
 
#logo {
    width: 40%;
    margin-left: 20px;
  }
   #logo_anchor {
    width: 20%;
    margin-top: 10px;
   }
 
   #main_heading {
    color: var(--chocolate);
    font-family: Poppins;
    font-weight: 500;
    margin: 4% 15%;
    font-size: 45px;
   }
 
   /*................................................
    6. BODY SECTION
.................................................*/
/* #main{
  height: 80vh;
} */
#employee_list_top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 4%;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 0 1% 0; */
  height: 20vh;
  align-items: center;
}
#employee_list_top h4{
  margin-top: 5%;
  font-size: 30px;
}
/* #employee_list_btns {
  margin-top: 5%;
} */
 
#delete_modal{
  display: none;
}
select{
  border: 2px solid var(--black);
}
.employee_list_top_btns {
  padding: 10px;
  height: 40px;
  margin: 10px 0  ;
}
#add_btn{
  border: none;
  background-color: var(--chocolate);
  border-radius: 5px;
  font-weight: bold;
  color: var(--wheat);
}
#filter_btn{
  border-color: var(--chocolate);
  color: var(--chocolate);
  border-radius: 5px;
  font-weight: bold;
  margin-right: 20px;
}
/* #table_border{
  border: 2px solid var(--brown);
  width: 100%;
} */
#table_border{
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}
table, td {
  /* border: 1px solid black;
  border-collapse: collapse; */
  margin: 0 auto;
  text-align: center;
  padding: 8px 0;
 
}
th{
  background-color: var(--darkOrange);
  margin: 0 auto;
  text-align: center;
}
tbody tr:nth-child(even){
  background:var(--lightOrange) ;
}
table{
  width: 100%;
  /* position: relative; */
}
#main{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  padding-bottom: 5%;
  /* position: relative; */
}

.table_col{
  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.table_col h3{
  margin: 0;
  font-weight: 400;
  padding-left: 10px;
}
#skills_col, #actions_col{
  padding: 3px 0 3px 10px;
  font-weight: 400;
} 
/* #id_col{
  width: 15%;
}
#name_col{
  width: 25%;
}

#exp_col{
  width: 25%;
} */
.sort_icon {
  width: 21px;
  height:35px;
}
/* #sort_icon_name {
  width: 30px;
  right: 63%;
  position: absolute;
  top: 8%;
}
#sort_icon_exp {
  width: 30px;
  right: 11%;
  position: absolute;
  top: 8%;
} */
#edit_icon, #delete_icon{
  width: 30px;
}
#delete_modal{
  margin: 0 auto;
    text-align: center;
    border: 2px solid black;
    height: 30vh;
    width: 35%;
    position: relative;
}
#delete_modal p{
  padding-top: 20px;
}
#delete_btns {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%;
}
#ok_delete{
  width: 50%;
  background-color: var(--chocolate);
  color: var(--wheat);
  font-weight: bold;
}
#cancel_delete {
  width: 50%;
  color: var(--chocolate);
  font-weight: bold;
}

/* #dlt_box{
  border: 2px solid var(--black);
  width: 40%;
  margin: 0 auto;
  text-align: center;
  font-size: 23px;
  padding: 25px;
}
#dlt_box_btn{
  width: 100%;
  display: flex;
}
#no, #yes{
  width: 50%;
  height: 40px;
} */
#form{
  border: 2px solid var(--black);
  margin: 0 auto;
 
}
.modal h1{
  text-align: left;
  margin: 5% 0 5% 4%;
  font-size: 30px;
  color: var(--black);
}
.modal{
  border: 2px solid var(--black);
  border-radius: 13px;
  margin: 0 auto;
 
 /* position: relative; */
 display: none;
 
 height: 80%;
 /* overflow: auto;  */
 background-color: var(--cream) ;
 width: 80%;
 z-index: 1;
 top:56px;
 right: 10%;
 position: fixed;
  }
 
.modal_content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 10%;
  /* justify-content: space-between;
  align-items: center; */
}
.emp_input_box{
  width: 33%;
  margin: 0 0 4% 0;
  font-size: 20px;
}
 
#form_btns{
  position: absolute;
  bottom: 7%;
  right: 5%;
}
.form_btns_button{
  width: 75px;
  height: 35px;
}
#save{
  color: wheat;
  background-color: chocolate;
  font-weight: bold;
  border-style: none;
  border-radius: 7px;
}
#cancel{
  font-weight: bold;
  border-style: none;
  border-radius: 7px;
  border: 1px solid chocolate;
  color: chocolate;
}
 
#display_skills_tag{
 
}
.close {
  color: #aaa;
  float: right;
  font-size: 50px;
  font-weight: normal;
  margin: 10px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#add_skill{
 
}
.input_box{
  padding: 0 6px;
  width: 70%;
  height: 3em;
  border-radius: 10px;
  border-color: var(--wheat);
}
.input_box::placeholder{
  font-size: 16px;
}
.emp_input_box label{
  width: 70%;
  text-align: left;
  margin: 0 auto;
  display: block;
  float: left;
  margin-left: 13%;
}
/*................................................
    7. FOOTER SECTION
.................................................*/
 
#copyright {
  border-top: 2px solid var(--brown);
  text-align: center;
  padding: 25px 0 10px 0;
  font-size: 12px;
  width: 100%;
}
footer{
 bottom: 0;
}





